* {
	box-sizing:border-box;
}

body {
	background:black;

}

.canvas {
	width:100vw;
	height:100vh;
	margin:0px auto;
	background:white;
	position:relative;
}


.homepage {
	top: 10px;
    left: 10px;
    opacity: 0.5;
    transition: 0.3s;
    position: absolute;
}


.homepage:hover {
	
    top: 10px;
    left: 10px;
    opacity: 1.0;
}




.container {
	padding: 300px;
	
}

.pair {
	color: white;
	font-family: sans-serif;
	font-size: 8px;
	left:1070px;
	padding-top: 660px;
	position: absolute;
	z-index: 5;
}

.baller {
	display: inline-block;
	background-color: pink;
	width:10px;
	height: 10px;
	border-radius: 50%;
	z-index: 1;
	transition: .3s;
	-webkit-transition: .3s;
}

.baller2 {
	display: inline-block;
	background-color: pink;
	width:10px;
	height: 10px;
	border-radius: 50%;
	z-index: 5;
	transition: .3s;
	-webkit-transition: .3s;
}


ul {
	list-style: none;
}

li {
	list-style: none;
	float: left;
	margin-right: 0px;
}

li:hover .baller {
	width: 500px;
	height: 500px;
}

li:hover .baller2 {
	opacity: 0;
	transition: .1s;
	-webkit-transition: .1s;
}