body {
  background-image: url("hello4.gif");
  background-size: 100px;
  background-color: #2e2523;
}

.scribble5 {
	animation: vibrate 0.5s ease-in-out infinite;
	width: 200px;
}

.scribble5:hover {
	width: 800px;
	filter:brightness(20%);
	animation: none;
}

.scribble {
	animation: vibrate 0.5s ease-in-out infinite;
	width: 200px;
}

.hidden5 {
	display: none;
	position: absolute;
	color: #ca5066;
	font-family:sans-serif;
	font-size: 150px;
	font-weight: bold;
}

@keyframes vibrate {
  0%   {transform: translatex(7px)} 
  25%  {transform: translatex(-6px)}
  50%  {transform: translatex(10px)}
  75%  {transform: translatey(-7px)}
  100% {transform: translatex(-5px)}
}


