body {
  background-image: url("hello4.gif");
  background-size: 100px;
  background-color: #2e2523;
  background-attachment: fixed;
}

.scribble5 {
	
	width: 200px;
}

.scribble5:hover {
	width: 800px;
	filter:brightness(20%);
	animation: none;
}

.scribble {
	
	width: 200px;
}

.hidden5 {
	display: none;
	position: absolute;
	color: #ca5066;
	font-family:sans-serif;
	font-size: 150px;
	font-weight: bold;
}

