body {
	background-image: url("./images/bg2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}


#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	transform-origin: center bottom;
	animation: float 6s ease-in-out infinite;
	position: absolute;
	top:300px;
	left:500px;
}




#draggable2 { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	transform-origin: center bottom;
	animation: float 6s ease-in-out infinite;
	position: absolute;
	top:200px;
	left:600px;
}




@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
