body {
	background-image: url("./images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}


#draggable { width: 150px; height: 150px; padding: 0.5em; }

